@font-face {
  font-family: "MaterialIcons";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material.icons.woff2) format("woff2");
}
.material-icons {
  font-family: "MaterialIcons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}
.mt-m {
  margin-top: 30px;
}
.line-through {
  text-decoration: line-through;
}
.text-gray {
  color: gray;
}
/* label focus color */
.input-field input[type="text"]:focus + label {
  color: #4caf50;
}
/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid #4caf50;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #4caf50;
}
